---
BasedOnStyle: Chromium
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: AlwaysOnePerLine
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
LambdaBodyIndentation: Signature
