/Makefile
/safe-exam-browser
/seb-linux-qt
/*.o
/*.a
/*.so*
/.qmake.stash
/.moc/
/.obj/
/.rcc/
/moc_*
/ui_*
/qrc_*
/build/
/build-tools/
/dist/
/windows/
/compile_commands.json
/.clangd/
/.vscode/
/.idea/
.codex
/docs/next-update-plan.md
*~
